<label>
  <input type="file" (change)="fileUpload($event)" />
</label>

<table width="100%">
  <thead>
    <tr>
      <th class="name"><span>Udgifter</span></th>
      <th><span>Jan</span></th>
      <th><span>Feb</span></th>
      <th><span>Mar</span></th>
      <th><span>Apr</span></th>
      <th><span>Maj</span></th>
      <th><span>Jun</span></th>
      <th><span>Jul</span></th>
      <th><span>Aug</span></th>
      <th><span>Sep</span></th>
      <th><span>Okt</span></th>
      <th><span>Nov</span></th>
      <th><span>Dec</span></th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let category of budget.categories">
      <tr gun-category *ngIf="!category.income" [category]="category"></tr>
    </ng-container>
    <tr>
      <td class="bottom-line" colspan="13">
        <span>Indtægter</span>
      </td>
    </tr>
    <ng-container *ngFor="let category of budget.categories">
      <tr gun-category *ngIf="category.income" [category]="category"></tr>
    </ng-container>
  </tbody>
</table>